@import url(./reset.css);

/* ------------ HEADER ------------ */
header {
    width: 100vw;
    max-width: 1300px;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
header figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header figure span {
    font-size: 0.9rem;
}

/* ------------ MAIN ------------ */
main {
    width: 100vw;
    max-width: 1300px;
    height: 90vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-index {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center
}
.img-index img {
    width: 500px;
}

.content {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.content-text {
    width: 390px;
}
.content-text h1 {
    width: 390px;
    font-size: 32px;
}
.content-text p {
    width: 355px;
    font-size: 20px;
}

.content-button {
    width: 390px;
    padding-right: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content a {
    width: 166px;
    height: 58px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 17px;
    transition: all 0.5s;
}
.content a:hover, .content a:active {
    border: 1px solid #38A1FF;
    background-color: #38A1FF;
    transform: scale(0.95);
    color: white;
}

